.disney {
    top: 8%;
    font-size: 50px;
    text-align: left;
    position: fixed;
}
.text {
    margin-top: -3%;
    font-family:  cursive;
    font-size: 25px;
    margin-left: 10%;
    margin-right: 10%;
}
#header{
    top: 4%;
    font-size: 30px;
    margin-left: 5%;
}
 @font-face {
    font-family: Pompadur; /* Гарнитура шрифта */
    src: url(RiccioDisplayScriptSSK.ttf); 
   }
   h1 {
    font-family: Pompadur, 'Comic Sans MS', cursive;
    color:black;
   }
#rectangleTop {
    width: 30%;
    height: 10%;
    background: azure;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: -10px -10px 10px rgba(221, 221, 221, 1),
    10px -10px 10px rgba(221, 221, 221, 1);
    position: absolute;
    opacity: 0.9;
    margin-left: 1.5%;
    margin-top: -0.3%;
    z-index: -8;
background: radial-gradient(circle farthest-corner at 100px 50px, #FBF2EB, #352A3B);
}
#rectangle {
    width: 90%;
    height: 90%;
    background: azure;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0 0 10px 10px rgba(221, 221, 221, 1);
    position: absolute;
    margin-left: 1.5%;
    margin-top: 4.4%;
    z-index: -10;
    opacity: 0.9;
background: radial-gradient(circle farthest-corner at 100px 50px, #FBF2EB, #352A3B);
}
body {
    background-image: url("80131.jpg"); /* Путь к фоновому рисунку */
    background-position: center; /* Положение фона */
    background-repeat: no-repeat; /* Повторяем фон по горизонтали */
    background-size: auto;
}
p:first-letter {
    font-size: 90px;
    color: red;
}
p:after {
    
    content: url("606.gif");
    
}
#footer {
    border: 10px solid azure;
    position:relative;
    width: 1200px;
    height: 300px;
    margin-left: 1%;
    top:0;
    bottom:0;
    left:10;
    right:0;
    box-shadow: 0 0 10px 10px rgba(221, 221, 221, 1);
}
.image {
    margin-top: 1%;
    margin-left: 10%;
    padding-right: 3%;
    padding-bottom: 0.3%;
    float: left;
    height: 22%;
    width: 12%;
}