body
{
	background: #87CEEB;
}




.header {
	background-color: #1E90FF;
	color: #E6E6FA;
	border-radius: 12px 12px 0px 0px;
	text-align: center;
	font-size: 10pt;
    font-family: 'Open Sans', sans-serif;
}


.mnpz03 {
    height:200px;
	float:left;
	border-radius: 12px 0px 0px 0px;
	}
.mnpz05 {
   height:200px;
   width:919px;
   border-radius: 0px 12px 0px 0px;
   float:right;
   }
.nav {
   height:30px;
   width:1000px;
   border-radius: 4px 4px 4px 4px;
   background-color: #B0E0E6;
   font-family: 'Open Sans', sans-serif;
   box-shadow: inset 1px 1px 0px 0px rgba(0,0,0,0.025), 1px 1px 0px 0px rgba(255,255,255,0.025);
   text-shadow: -1px -1px 0 rgba(0,0,0,0.5);
   margin-top: 10px;
   margin-left: 100px;
   margin-right: 20px;
   margin-bottom: 10px;
   text-align:left;
   display: inline-block;
   vertical-align: middle;
    }
a {
   text-decoration: none;
   text-transform: uppercase;
   color:#F5FFFA;
   margin-left:80px;
   }
.footer {
    background-color: #B0E0E6;
	color: #E6E6FA;
	border-radius: 0px 0px 12px 12px;
	font-size: 10pt;
    font-family: 'Open Sans', sans-serif;
	text-align: right;
	float:right;
	width:100%;
}
ul.menu
		{
		}

			ul.menu li
			{
				border-left: solid 1px #eee;
				display: inline-block;
				padding: 0 0 0 1em;
				margin: 0 0 0 1em;
			}
			
				ul.menu li:first-child
				{
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}
.image {
    width: 60px;
	height: 60px;
	background-image: #1E90FF;
	border-radius: 30px 30px 30px 30px;
	}
li.text {
    text-align: left;
}

p::first-letter {
    font: 16px Arial; 
    color: #F0FFFF;
}
p::selection {
color: #E0FFFF;
background: #6495ED;
}
.shell {  margin: 0 auto; }
#slider { position: relative; z-index: 1;  height: 225px;  }
#slider .shell { position: relative; height: 225px; }

.slider-left { float: left; display: inline; width: 584px; height: 207px; background: url(images/slider-left-bg.gif) no-repeat 0 0; color: #fff;  padding: 18px 20px 0 20px; background-size: cover; }
.slider-left h2 { font-size: 20px; font-weight: normal; margin-bottom: 13px;width: 584px; }
.slider-left p { font-size: 13px; line-height: 18px; font-family: Arial; }
.slider-right { position: relative; float: left; display: inline; width: 656px; height: 225px; }
.slider-content { position: relative; width: 709px; height: 225px; overflow: hidden; }
.slider-content ul { list-style: none outside none; height: 100%; overflow: hidden; }
.slider-content ul li{ position: relative; width: 656px; height: 225px; z-index: 1;}
.slider-nav { position: absolute; bottom: 14px; right: 120px; display: block; z-index: 10; }
.slider-nav ul { list-style: none outside none; }
.slider-nav ul li { float: left; display: inline; width: 20px; height: 20px; margin-right: 4px; }
.slider-nav ul li a { width: 20px; height: 20px; display: block; background: url(images/slider-nav.png) no-repeat 0 0; font-size: 0; line-height: 0; text-indent: -4000px; }
.slider-nav ul li a:hover,
.slider-nav ul li a.active { background: url(images/slider-nav-hover.png) no-repeat 0 0; }
#main { }
#main h2 { font-size: 20px; font-weight: normal; color: #4c4c4c; }

#sidebar { float: left; display: inline; width: 324px; }
#sidebar .text-container { min-height: 221px;min-width: 341px; background: #eaebeb url(images/text-containerbg.gif); padding: 20px 15px 0 18px; margin-bottom: 20px; }
#sidebar .text-container h2 { margin-bottom: 6px; }
#sidebar .text-cont { min-height: 221px;min-width: 341px; background: #eaebeb url(images/text-containerbg.gif); padding: 20px 15px 0 18px; margin-bottom: 20px; height: 925px; }
#sidebar .text-container.stretch { background: #eaebeb url(images/text-containerbg.gif) repeat-x 0 0;height: 567px; }
.post {}
.post h2 { border-bottom: 5px solid #e4e4e4; padding-bottom: 5px; margin-bottom: 11px; }
.img { height: 221px; width: 100%; }
.imposition { position: relative; z-index: 10;}
 h3{ position: absolute;bottom: 6%; color:#FFF; font-family:'Tahoma', sans-serif; font-size:30px;font-family:italic;text-transform: uppercase;z-index: 10; }
.imag { position: relative; top: 10%; }
#sidebar .post { padding: 0 18px 0 14px; }
#sidebar .post .more { margin-top: 17px; }
#content { float: right; width: 700px; padding-top: 17px; margin-right: 10px;}
#cont { float: right; width: 800px; padding-top: 17px; margin-right: 10px;}
.col { margin-bottom: 25px; }
.cols-2 { float: left;  width: 280px; margin-right: 40px; }
.right, .alignright { float: right; display: inline; }
.left { float: left; display: inline; }
#slide_show { width:800px;height: 400px; }
#easyTooltip{
	padding:5px 10px;
	border:1px solid #195fa4;
	background:#195fa4 url(bg.gif) repeat-x;
	color:#fff;
	}
#slide_show {
    margin-top:20px;
	}
#box1 {
	width: 480px;
	overflow: hidden;
	margin: 0px 0 30px 0;
}

#box2 {
	width: 225px;
	overflow: hidden;
	float: left;
}

#box3 {
	width: 225px;
	overflow: hidden;
	margin: 0px 0 0 255px;
}
#mainlist {
	position: relative;
	padding: 0px;
	width: 1180px;
	color: #262626;
}
#sidebar1 {
	width: 215px;
	float: left;
	padding: 35px;
	background: #b09792 url('images/bg3.jpg');
	color: #ede9e8;
	text-shadow: 0px 1px 1px #705752;
	margin-bottom: 20px;
}

#sidebar2 {
	width: 215px;
	margin: 0px 35px 0 315px;
	padding: 35px;
	background: #886963 url('images/bg2.jpg');
	color: #f3efef;
	text-shadow: 0px 1px 1px #583933;
	margin-bottom: 20px;
}

#outer {
	position: relative;
	width: 1180px;
	margin: 40px auto 0 auto;
}

#content1 {
	width: 480px;
	float: right;
	padding: 35px;
	background: #fff;
	margin-bottom: 20px;
}

img.left {
	float: left;
	margin: 5px 20px 5px 0;
}


img.top {
	margin: 5px 0 20px 0;
}
#outer1 {
    float:right;
    width: 900px;
	padding: 45px;
}
.out {
   width:225px;
   border:0;
margin:0;
padding:0;
float:left;
   }
.button-style {
	margin: 20px 0px 20px 0px;
}

.button-style a {
	padding: 7px 20px 7px 20px;
	background: #CEC3A0;
	border-radius: 5px;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 1px 1px 1px #8A8B71;
	font-family: 'Abel', sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}
ul.style1 {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}

ul.style1 li {
	padding: 15px 0px 15px 0px;
	border-top: 1px solid #E6E6E6;
	line-height: 160%;
}

ul.style1 a {
	display: block;
	padding: 0px 0px 0px 0px;
	text-decoration: none;
	color: #525252;
}

ul.style1 a:hover {
	text-decoration: underline;
}

ul.style1 .first {
	border-top: none;
	padding-top: 0px;
}

/** LIST STYLE 3 */

ul.style3 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style3 li {
	padding: 20px 0px 25px 0px;
	border-top: 1px solid #E7E5DA;
}

ul.style3 a {
	display: block;
	text-decoration: none;
	color: #525252;
}

ul.style3 a:hover {
	text-decoration: underline;
}

ul.style3 .date {
	width: 100px;
	margin: 0px 0px 20px 0px;
	padding: 7px 0px 7px 0px;
	background: #CEC3A0;
	border-radius: 5px;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #8A8B71;
	font-family: 'Abel', sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}

ul.style3 .date b {
}

ul.style3 .date a {
	color: #FFFFFF;
	margin-left:5px;
}

ul.style3 .date a:hover {
	text-decoration: none;
}

ul.style3 .first {
	padding-top: 0px;
	border-top: none;
}