body {
    width: 100%;
    height: 100%;
    background-color: white;
	   background-image: url(../resources/images/1.jpeg);
     background-position: center;
    font: 20px "Monotype Corsiva";
}
canvas {
  margin-left: 22%;
}

h1 {
  margin-left: 100px;
  margin-top: 35px;
  background-color: rgba(205, 201, 201, 0.7);
  text-align: center;
  width: 40%;
  border-radius: 20px;
  text-shadow: -1px -1px #FFF,
               -2px -2px #FFF,
               -1px 1px #FFF,
               -2px 2px #FFF,
               1px 1px #FFF,
               2px 2px #FFF,
               1px -1px #FFF,
               2px -2px #FFF,
               -3px -3px 2px #BBB,
               -3px 3px 2px #BBB,
               3px 3px 2px #BBB,
               3px -3px 2px #BBB;
  color: steelblue;
  transition: all 1s;
  }
h1:hover {
  color: yellowgreen;
}

.container {
  margin-left: 100px;
  font-size: 25px;
  width: 40%;
  height: 320px;
  text-align: center;
  background-color: rgba(205, 201, 201, 0.7);
  border-radius: 20px;
}

#login, #password {
  width: 250px;
  height: 20px;
}

button, .button {
  color: #003049;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  transition: 0.2s;
  width: 200px;
  height: 40px;
  border-radius: 14px;
  text-align: center;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

input.button:hover, button:hover {
  background: rgba(255,255,255,.2); 
}