body
{
	background-image: url(../resources/images/1.jpg);
	background-size: cover;	
  bdackground-color: black;
  transition: all 2s;
}
h1 {
    text-shadow: 1px 1px white,
                 2px 2px #777;
    color: white;
    transition: all 3s;
    margin: 20px 400px 50px 400px;
    text-align: center;
    background-color: rgba(2, 2, 2, 0.8);
    padding: 10px; 
    border-radius: 50px;
}

.btn {
  color: navy;
  text-decoration: none;
  user-select: none;
  padding: .5em 1em;
  border: 2px solid gray;
  transition: 0.2s;
  width: 280px;
  height: 40px;
  border-radius: 2px;
  text-align: left;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 10px 0px 10px 0px;
}

.btn:hover{
  background: rgba(2,2,2,.2);
  color: white;
  
}

.pos {
  position: relative;
  width: 20%;
  margin: 0px auto;
}

p {
 	text-indent: 10%;
}

th {
  color: #B22222;
  border: 1px solid #00008B;
}

td {
  color: black;
  border: 1px solid #00008B;
}

.txt {
  position: relative;
  width: 100%;
  margin-left: 12%;
  text-align: center;
  font-size: 20px;
  display: inline-block;
}

#textHTML {
    color: black;
    font-size: 18px;
}

#text{
    text-align: center;
    font-size: 22px;
    color: black;
}

#pos1 {
  transition: all 3s;
  margin: 100px auto;
  padding: 10px; 
  border-radius: 50px;
  pdosition: relative;
  width: 60%;
}

#center {
    color: black;
    text-align: center;
}
